@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root{
    --laranja: #ffbc57;
    --lrj-escuro: #DA9724;
    --cinza: #252525;
    --preto: #141414;
    --fnt-c: #cecece;
    --ftn-c-escuro: #9c9a9a;
    --branco: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--cinza);
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}
h2{
    color: var(--branco);
    font-size: 30px;
}
h3{
    color: var(--fnt-c);
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 0.7%;
}
p{
    color: #fff;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}
.container{
    padding-left: 4%;
    padding-right: 4%;
}


/* ===== CABEÇALHO ====== */
header{
    padding: 20px 0px 15px;
    background: var(--preto);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .container div {
    display: flex;
}
#bars{
    display: none;
}
nav{
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: var(--fnt-c);
    font-size: 16px;
    margin-left: 15px;
}   
nav a:hover{
    color: var(--ftn-c-escuro);
}
#pag_atual{
    border-bottom: solid 2px var(--laranja);
}
#conta {
    display: flex;
    align-items: center;
}
#conta img{
    margin-left: 30px;
    margin-right: 8px;
    width: 35px;
    border-radius: 5px;
}
#conta p {
    display: inline-flex;
    color: var(--fnt-c);
    font-size: 18px;
}


/* ===== PRINCIPAL ====== */
main{
    margin-bottom: 1.5%;
}
.principal{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4) 100%), url('../img/boys-capa.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    align-items: flex-start;
}
main .container{
    margin-bottom: 50px;
    width: 65%;
}
.principal h1{
    color: var(--branco);
    font-size: 45px;
}
.principal p{
    margin-bottom: 30px;
}
.botoes .play{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ffbc57b3;
    color: #fff;
    border: none;
    font-family: 'Cabin', sans-serif;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
.botoes .play:hover{
    background-color: var(--lrj-escuro);
}
.botoes button{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 20px;
    background-color: #5d5a5ab3;
    color: #fff;
    border: none;
    font-family: 'Cabin', sans-serif;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
.botoes button:hover{
    background-color: #252525b3;
}
.botoes button i {
    margin-right: 10px;
    color: var(--lrj-escuro);
}
.botoes .play i {
    margin-right: 10px;
    color: #fff;
}
.btn-respon{
   display: none;
}


/* ===== SESSÕES ====== */
section{
    margin-bottom: 1.5%;
}
.anterior{
    z-index: 2;
    position: absolute;
    width: 4%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background-color: #2525257e; 
    color: var(--lrj-escuro);
    font-size: 25px;
    cursor: pointer;
}
.anterior:hover{
    background-color: #252525c0;
    font-size: 35px;
}
.proximo{
    z-index: 2;
    position: absolute;
    width: 4%;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
    background-color: #2525257e;
    color: var(--lrj-escuro);
    font-size: 25px;
    cursor: pointer;    
}
.proximo:hover{
    background-color: #252525c0;
    font-size: 35px;
}
.relative{
    position: relative;
}
.thumbs div img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.destaques .thumbs div img{
    border-radius: 0;
}

/* ===== SESSÃO DESTAQUES ====== */
#anterior{
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 2;
    border: none;
    color: var(--laranja);
    border: 1px var(--lrj-escuro) solid;
    background-color: var(--cinza);
    cursor: pointer;
}
#anterior:hover{
    background-color: var(--lrj-escuro);
    color: var(--cinza);  
}
#proximo{
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 2;
    border: none;
    color: var(--laranja);
    border: 1px var(--lrj-escuro) solid;
    background-color: var(--cinza);
    cursor: pointer;
}
#proximo:hover{
    background-color: var(--lrj-escuro);
    color: var(--cinza);  
}


/* ===== RODAPÉ ====== */
footer{
    padding: 1.5% 0 1.5%;
}  
footer .container{
    font-size: 17px;
    text-align: center;
}
footer img{
    width: 110px;
}
